[submodule "CabrankEngine/vendor/spdlog"]
	path = Cabrankengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CabrankEngine/vendor/glfw"]
	path = Cabrankengine/vendor/GLFW
	url = https://github.com/franpintar/glfw
[submodule "Cabrankengine/vendor/imgui"]
	path = Cabrankengine/vendor/imgui
	url = https://github.com/cabranca/imgui
[submodule "Cabrankengine/vendor/glm"]
	path = Cabrankengine/vendor/glm
	url = https://github.com/g-truc/glm
