# Binaries
**/bin/
bin-int/

# Visual Studio files and folder
.vs*/
*.sln
*.vcxproj*

# Other projects (remove eventually)
Breakout/
Snake/
SymphonicSurvivors/

# Make files
Makefile

# Other files
GenerateFiles.bat
